{% extends 'base.html' %} {% block content %}
<div class="container result_container">
  <a class="waves-effect waves-light btn-large result #757575 grey darken-1"
    >Found:{{total_listing}} {{search}} listing</a
  >
</div>

<div class="row">
  {% for post in final_posting_result %}

  <div class="col s12 l4">
    <div class="card small">
      <div class="card-image">
        <a href="/">
          <img src="{{post.3}}" alt="{{post.1}}" />
        </a>
      </div>
      <div class="card-content">
        <p style="text-transform: uppercase; font-weight: bolder;">
          {{post.0}}
        </p>
      </div>
      <div class="card-action">
        <a href="{{post.1}}">View listing: Price: {{post.2}}</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}
