{% extends 'base.html' %} {% block content %}
<h3>{{search}}</h3>

<div class="row">
  {% for post in final_posting_result %}

  <div class="col s12 l4">
    <div class="card small">
      <div class="card-image">
        <a href="/">
          <img
            src="https://images.craigslist.org/{{post.3}}_300x300.jpg"
            alt=""
          />
        </a>
      </div>
      <div class="card-content">
        <p style="text-transform: uppercase; font-weight: bolder;">
          {{post.0}}
        </p>
      </div>
      <div class="card-action">
        <a href="{{post.1}}">View listing: Price: {{post.2}}</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}
